---
services:
  mariadb:
    build: ./requirements/mariadb/
    container_name: mariadb
    networks:
      - inception_net
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always
  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress
    networks:
      - inception_net
    depends_on:
      - mariadb
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    restart: always
  nginx:
    build: ./requirements/nginx/
    container_name: nginx
    networks:
      - inception_net
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - wordpress
    restart: always

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/anbaya/data/mariadb
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/anbaya/data/wordpress
networks:
  inception_net:
    driver: bridge
