---
services:
  mariadb:
    build: ./requirements/mariadb/
    networks:
      - inception_net
    env_file:
      - requirements/.env
    volumes:
      - mariadb_data:/var/lib/mysql
  wordpress:
    build: ./requirements/wordpress/
    networks:
      - inception_net
    depends_on:
      - mariadb
    env_file:
      - requirements/.env
    volumes:
      - wordpress_data:/var/www/html
  nginx:
    build: ./requirements/nginx/
    networks:
      - inception_net
    ports:
      - "3443:443"
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - wordpress

volumes:
  mariadb_data:
    driver: local
  wordpress_data:
    driver: local

networks:
  inception_net:
    driver: bridge